<body>
  <div class="container">
    <header>
      <h1 id="title">freeCodeCamp Survey Form</h1>
      <p id="description">
        Thank you for taking the time to help us improve the platform</p>
    </header>

    {{username.value | json}}
    <form action="#" method="post" id="survey-form" #username="ngForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <label for="name" id="name-label">Name
          <input class="field" type="text" id="name" name="Name" placeholder="Enter your name" required  [(ngModel)]="userModel.username" ></label>
        <label for="email" id="email-label">Email

          <input class="field" type="email" id="email" name="Email" placeholder="Enter your Email" required [(ngModel)]="userModel.email"></label>
        <label for="number" id="number-label">Age (optional)<input class="field" type="number" id="number" name="Età" placeholder="Age" min="10" max="99" [(ngModel)]="userModel.age"></label>
      </fieldset>
    
       
        
        <button type="submit" id="submit" value="Submit" ngModel [disabled]="username.form.invalid" >Submit</button>

      
    </form>

  </div>
</body>